html,body,#root{
  height:100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
main{
  flex:1;
}
footer{
  margin-top: auto;
}
body{
  background-color: #f8fafc;
}


.slide-pane__content{
  padding: 12px 10px !important;
  padding-top: 56px !important;
}
.slide-pane__header{
  display: none;
  background-color: #28303b;
}
.ReactModalPortal{
  display: none !important;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a1a1a1; 
  border-radius: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* styles.css */
/* Initially, set the height to 0 and hide overflow */
.expandable-section {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.expandable-section.open {
  height: auto;
  overflow: visible;
}

a.active,a.active:hover{
  background-color:#3b82f6;
}

@media (max-width:1024px) {
  .ReactModalPortal{
    display: flex !important;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

@page {
  size: auto; /* Let the browser determine the page size */
  margin-top: 1em; /* Set margins as needed */
  counter-increment: none; /* Disable page numbering */
}

/* Hide URL at the bottom */
@page :first {
  margin-bottom: 0; /* Set the margin-bottom to 0 on the first page */
}



